* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

del {
  text-decoration: line-through;
}

body {
  font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #1C2C40;
  overflow-x: hidden;
  min-width: 320px;
  font-weight: 400;
}

input,
textarea,
select {
  font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

a {
  color: #1C2C40;
}

a:hover,
.submit:hover {
  filter: alpha(opacity=85);
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85;
}

.thumb {
  display: block;
}

.thumb img {
  display: block;
  width: 100%;
}

p {
  line-height: 1.6em;
  font-size: 16px;
  font-family: "GT-Eesti", Arial;
  font-weight: 400;
}

.hidden {
  display: none;
}

br.clear {
  clear: both;
  line-height: 0;
}

.wrapper {
  width: 90%;
  margin: 0 auto;

}

@font-face {
  font-family: 'GT-Eesti';
  src: url("../fonts/GT-Eesti-Pro-Text-Light.woff2") format("woff2");
  src: url("../fonts/GT-Eesti-Pro-Text-Light.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'GT-Eesti';
  src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff2") format("woff2");
  src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: 'GT-Eesti';
  src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff2") format("woff2");
  src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal
}

@font-face {
  font-family: 'GT-Eesti';
  src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff2") format("woff2");
  src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal
}

::placeholder {
  color: #C0CCDA;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #C0CCDA;
}

::-ms-input-placeholder {
  color: #C0CCDA;
}

:root {
  --main-bg-color: #23D3D3;
  --main-heading-color: #1C2C40;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  color: darkblue;
  padding-top: 15px;
  width: 90%;
  margin: 0 auto;
  align-items: center;
}

.container>div {
  display: flex;
  align-items: left;
  justify-content: space-around;
}

nav {
  display: flex;
}

#sign-in {
  background-color: rgb(5, 197, 197);
  color: black;
  border-radius: 15px;
  padding: 10px 14px;
}

label {
  padding-left: 30px;
}

/* section-one */
.main-section {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin: 0 auto;
  align-items: center;
}

.main-section .left-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.main-section .left-section p {
  display: flex;
  gap: 10px;

}

.main-section .left-section p small {
  font-size: 14px;
}

.main-section .left-section p img {
  width: 80px;
}

.main-section .right-section img {
  height: 80vh;

}


#join-patch {
  background-color: rgb(5, 197, 197);
  color: black;
  border-radius: 15px;
  padding: 10px 12px;
  width: 25%;
}

.left-section>img {
  height: fit-content;
  margin-top: 5%;
  margin-right: 5%;
}

h1 {
  color: darkblue;
  font-weight: bold;
}

/* section-two*/
.section-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 15px
}

#h2 {
  font-weight: bold;
  font-size: 30px;
  color: rgb(17, 26, 26);
  margin-bottom: 20px;
}

h3 {
  text-align: center;

}

/* section-three */
.section-three {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}

.section-three .flex-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.flex {
  display: flex;
  font-weight: 100px;
  align-items: center;
  gap: 15px;
  justify-self: center;

}

.flex>div {
  align-items: center;
}

.flex-container img {
  width: 90%;
}

.patch {
  background-color: rgb(5, 197, 197);
  color: white;
  border-radius: 18px;
  padding: 8px 15px;
  cursor: pointer;
}

.patch:hover {
  opacity: 0.3;
}


.learn {
  border: 1px solid rgb(118, 117, 117);
  border-radius: 15px;
  color: black;
  padding: 10px 14px;
  text-align: center;
  font-size: 13px;
  width: 20%;
}


.more {
  filter: drop-shadow(2px 2px 4px rgb(49, 41, 41));
  margin-top: 30px;
  padding-bottom: 20px;
}


/* section-four*/
.four {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 8%;
  filter: drop-shadow(3px 3px 4px rgb(112, 109, 109));
}

.four img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.four .img-container1 {
  width: 70px;
  margin-top: 5px;
}

.four .img-container2 {
  width: 70px;
  margin-top: 150px;
}

h4 {
  font-weight: bold;
  text-align: center;

}

hr {
  border-top: 1px solid rgb(218, 212, 212);
  margin-left: 80px;
  margin-right: 80px;
}

h5 {
  font-weight: bold;
  font-size: 30px;
  color: rgb(17, 26, 26);
  text-align: center;
  padding-bottom: 3%;
}

.for {
  text-align: center;
  padding-bottom: 3%;
}


/*section-five*/
.section5 {
  margin: 30px 0px;
}

.five {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;

}

.five1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  width: 30%;
  gap: 10px;
  margin: 20px;
}

.five1 img {
  width: 30px;
}

.img-slider {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  /* overflow: hidden; slider */
  text-align: center;
}

.img-slider img {
  width: 100%;
  max-height: 20vh;
  display: block;
  border-radius: 50%;
  margin: 0 auto;
}

.img-slider p {
  margin: 0 auto;
}

.slide {
  width: 100%;
  height: 100%;
}

.dots {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

/* .dots span:hover{
  background: black;
} */
.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #ebe7e7;
  border: 2px solid rgb(8, 8, 8);
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: #000;
  border-color: #000;
}

/* section-six */

.six {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin: 100px;

}

.six .hunderdk {
  margin: 0 auto;
}

.six .hunderdk img {
  width: 250px;
  display: block;
}

#join {
  background-color: cyan;
  color: black;
  border-radius: 5px;
  padding: 10px 14px;
  width: 20%;
  cursor: pointer;
}

#join:hover {
  background-color: rgb(6, 138, 152);
}

/* section-seven */
.seven {
  background-color: rgb(228, 250, 242);
  padding: 20px 30px;
  width: 100%;
}

#qa {
  font-size: 25px;
  font-weight: bold;
  padding: 0 0 20px 30px;


}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-row-gap: 1cm;
  grid-column-gap: 1cm;
  padding: 0 30px;
  width: 90%;
  margin: 0 auto;
  overflow-x: scroll;
}

.grid-container ::-webkit-scrollbar {
  display: none;
}

.grid-item {
  box-shadow: 0px 1px 0px rgb(218, 214, 214);
}

.grid-item1 {
  color: #23D3D3;
  text-decoration: underline cyan;
  cursor: pointer;
}

a:link {
  color: #23D3D3;
  text-decoration: underline;
}

a:visited {
  color: #23D3D3;
}

.seven-1 {
  display: flex;
  justify-content: space-around;
  margin-top: 10%;
  padding-bottom: 10%;
  overflow-x: scroll;
  gap: 10px;
}

.seven-1 ::-webkit-scrollbar {
  display: none;
}

.seven-11 {
  display: flex;
  align-self: center;
}



.seven .img-container {
  width: 70px;
}

.im {
  border-radius: 50%;
  display: block;
  width: 100%;
  filter: drop-shadow(3px 3px 7px rgb(49, 41, 41));
}

.seven-images1,
.seven-images2,
.seven-images3,
.seven-images4,
.seven-images5 {
  display: flex;
}

.seven-images1,
.seven-images3,
.seven-images5 {
  padding-right: 5%;
  padding-left: 5%;
}

.seven-images2,
.seven-images4 {
  padding-top: 10%;
}

bold {
  font-size: 24px;
  font-weight: bold;
}

/*section-eight*/
.eight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: rgb(53, 219, 219);
  display: flex;
  padding: 8% 0;
}

.flex-eight {
  display: flex;
  justify-content: space-around;
}

#sign-up {
  background-color: white;
  padding: 12px 16px;
  border-radius: 10px;
  color: rgb(7, 160, 160);
}

.check {
  display: flex;
  justify-content: space-between;
  gap: 10px
}

.check .img-container {
  width: 20px;
}

.check .img-container img {
  display: block;
  width: 100%;
}

/*section-nine*/

.nine {
  background-color: #1C2C40;
  padding-top: 20px;
}

.flex-nine {
  color: white;
  background-color: #1C2C40;
  width: 20%;
}

.rows {
  display: flex;
  justify-content: space-around;
  background-color: #1C2C40;
  color: #c5c9ce;
  flex-wrap: wrap;
  line-height: 10vh;
  padding: 0 30px;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #1C2C40;
  color: white;
  padding: 10px 60px 90px 20px;
}

::placeholder {
  padding: 10px 10px 8px 10px;
  background-color: rgb(96, 96, 97);
  border-radius: 15px;
}

/* section-ten */

.ten {
  background-image: url(../images/mobile-devices-bg-2.jpg);
  background-size: 900px;
  background-position: left;
  height: 85vh;
  margin-top: 0;
  background-repeat: no-repeat;
  position: relative;
  align-items: center;
}

.ten1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  justify-content: flex-end;
  position: absolute;
  padding: 100px;
  right: 10px;
}

#t10 {
  font-weight: bold;
  font-size: 35px;
  color: rgb(17, 26, 26);
}

.appcontainer {
  display: flex;
  gap: 10px;
  background-color: rgb(11, 17, 17);
  border-radius: 10px;
  padding: 5px 10px;
  color: #c5c9ce;
  justify-content: center;
  align-items: center;
  width: 35%;
}

/* MEDIA-QUERIES */

@media (min-width: 1281px) and (max-width: 1440px) {
  .container {
    font-size: 30px;
  }

  p {
    font-size: 20px;
  }

  .ten {
    height: 50vh;
  }

  .items {
    display: none;
  }
}

@media (min-width: 1051px) and (max-width: 1280px) {
  header .items {
    display: none;
  }

  p {
    font-size: 20;
  }

  .nav {
    font-size: 18;
  }

  .left-section {
    margin-top: 10%;
  }

  .five1 {
    padding: auto;
  }

  .img-container {
    width: 100;
    clip-path: circle();
    border-radius: 100%;
    align-self: center;
  }

  .seven {
    padding-left: 20px;
    padding-right: 20px;
  }

  .seven1 {
    width: 60%
  }

  .seven11 {
    font-size: 16;
    width: 60%;
    margin-left: 20%;
  }

  bold {
    padding-left: 48%;
  }

  .ten {
    height: 50vh;
  }

  .flex-eight {
    flex-wrap: wrap;
  }

  .check {
    flex-wrap: wrap;
  }
}

@media (min-width: 981px) and (max-width: 1050px) {

  #sign {
    margin-right: 30px;
  }

  header .items {
    display: none;
  }

  .nav {
    font-size: 10;
  }

  .left-section {
    margin-top: 10%;
  }

  .seven {
    padding-left: 20px;
    padding-right: 40px;
  }

  .seven1 {
    width: 60%
  }

  .seven11 {
    justify-content: space-between;
    font-size: 16;
    width: 60%;
  }

  bold {
    padding-left: 78%;
  }

  .ten {
    height: 50vh;
  }

  .learn {
    width: 30%;
  }

  .patch {
    width: 24%;
  }
}

@media (min-width: 769px) and (max-width:980px) {
  .learn {
    width: 35%;
  }

  .patch {
    width: 24%;
  }

  p {
    font-size: 20;
  }

  nav {
    font-size: 18;
  }

  header .items {
    display: none;
  }

  .left-section {
    margin-top: 10%;
  }

  .seven {
    padding-left: 20px;
    padding-right: 20px;
  }

  #h2 {
    text-align: center;
  }


  .seven1 {
    width: 60%
  }

  .seven11 {
    font-size: 16;
    width: 60%;
    margin-left: 20%;
  }

  .seven-images1,
  .seven-images2,
  .seven-images3,
  .seven-images4,
  .seven-images5 {
    width: 100%;
    display: inline-block;
  }

  bold {
    padding-left: 48%;
  }

  .ten {
    background: none;
  }

  .ten1 {
    width: 100%;

  }

  .appcontainer {
    width: 60%;
  }
}

@media (min-width: 641px) and (max-width: 768px) {

  p {
    font-size: 20;
  }

  #join {
    width: 20%;
    padding: 10px 12px;
  }

  .learn,
  .patch {
    width: 30%;
  }
 

  nav {
    font-size: 16;
  }

  .left-section {
    margin-top: 10%;
  }

  h5 {
    font-size: 30px;
  }

  #h2 {
    text-align: center;
  }

  header .items {
    display: none;
  }

  .seven {
    padding-left: 20px;
    padding-right: 20px;
  }

  .seven1 {
    padding-right: 40%;
  }

  .seven11 {
    font-size: 16;
    width: 60%;
    padding-left: 40%;
  }

  .seven-images1,
  .seven-images2,
  .seven-images3,
  .seven-images4,
  .seven-images5 {
    width: 100%;
    display: inline-block;
  }

  bold {
    padding-left: 48%;
  }


  .rows {
    flex-wrap: wrap;
  }

  .ten {
    background: none;
  }

  .ten1 {
    width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 640px) {

  p {
    font-size: 16px;
  }

  h1 {
    font-size: 22px;
  }

  nav {
    font-size: 16px;
  }

  header .items {
    display: none;
  }

  .main-section,
  .section-three {
    flex-wrap: wrap;
  }

  #join-patch {
    margin: 0 auto;
  }
  .learn{
    width: 40%;
  }

  
  .left-section {
    margin-top: 10%;
  }



  #h2 {
    text-align: center;
    font-size: 24px;
  }

  h5 {
    font-size: 24px;
  }

  .seven {
    padding-left: 20px;
    padding-right: 20px;
  }

  .seven1 {
    padding-right: 40%;
  }

  .seven11 {
    font-size: 16;
    width: 60%;
    padding-left: 40%;
  }

  .seven .img-container {
    width: 40px;
  }

  .seven p {
    font-size: 14px;
  }

  .eight .flex-eight {
    flex-wrap: wrap;
  }

  .seven-images1,
  .seven-images2,
  .seven-images3,
  .seven-images4,
  .seven-images5 {
    width: 100%;
    display: inline-block;
  }

  bold {
    padding-left: 48%;
  }

  .ten {
    background: none;
  }

  .ten1 {
    width: 100%;
  }

  .appcontainer {
    width: 60%;
  }
}

@media (min-width: 361px) and (max-width: 480px) {

  p {
    font-size: 18px;
  }

  nav {
    font-size: 16;
  }

  h1 {
    font-size: 22px;
  }

  #join-patch {
    margin: 0 auto;
    width: 30%;
  }

  header .items {
    display: none;
  }

  .main-section,
  .section-three {
    flex-wrap: wrap;
  }

  .left-section {
    margin-top: 10%;
  }

  #h2 {
    text-align: center;
  }

  .seven {
    padding-left: 20px;
    padding-right: 40px;
  }

  .seven1 {
    padding-right: 40%;
  }

  .seven11 {
    font-size: 16;
    width: 60%;
    padding-left: 40%;
  }

  .seven-images1,
  .seven-images2,
  .seven-images3,
  .seven-images4,
  .seven-images5 {
    width: 100%;
    display: inline-block;
    align-items: center;
  }

  bold {
    padding-left: 55%;
  }

  .ten {
    background: none;
  }

  .ten1 {
    width: 100%;
  }

  .appcontainer {
    width: 40%;
  }
}

@media (min-width: 321px) and (max-width: 360px) {

  p {
    font-size: 20;
  }

  #join-patch {
    margin: 0 auto;
    width: 30%;
  }

  header .items {
    display: none;
  }

  .main-section,
  .section-three {
    flex-wrap: wrap;
  }

  .section-three {
    flex-wrap: wrap;
  }

  .section-three .flex-container {
    gap: 40px;
  }

  nav {
    font-size: 16;
    width: fit-content;
  }

  header .items {
    display: none;
  }

  .left-section {
    margin-top: 10%;
  }

  #h2 {
    text-align: center;
  }

  .flex-container {

    padding-right: 30px;
    align-items: center;
  }

  .seven {
    padding-left: 20px;
    padding-right: 40px;
  }

  .seven1 {
    padding-right: 40%;
  }

  .seven11 {
    font-size: 16;
    width: 60%;
    padding-left: 40%;
  }

  .seven-images1,
  .seven-images2,
  .seven-images3,
  .seven-images4,
  .seven-images5 {
    display: inline-block;
    align-items: center;
  }

  bold {
    padding-left: 60%;
  }

  .nine {
    width: 100%;
  }

  .rows {
    line-height: 10vh;
  }

  .ten {
    background: none;
  }

  .ten1 {
    width: 100%;
  }

  .appcontainer {
    width: 40%;
  }
}

@media (min-width:280px) and (max-width:320px) {

  p {
    font-size: 20;
  }

  h1 {
    font-size: 22px;
  }

  #sign-in {
    width: 100%;
    padding: 5px 12px;
  }

  #join-patch {
    margin: 0 auto;
    width: 40%;
  }

  header .items {
    display: none;
  }

  .main-section {
    margin: 0 auto;
  }

  .main-section,
  .section-three {
    flex-wrap: wrap;
  }

  .section-three {
    flex-wrap: wrap;
  }

  .section-three .flex-container {
    gap: 40px;
  }

  nav {
    font-size: 16;
    width: fit-content;
  }

  header .items {
    display: none;
  }

  .left-section {
    margin-top: 10%;
  }

  #h2 {
    text-align: center;
  }

  .flex-container {

    padding-right: 30px;
    align-items: center;
  }

  .seven {
    padding-left: 20px;
    padding-right: 40px;
  }

  .seven1 {
    padding-right: 40%;
  }

  .seven11 {
    font-size: 16;
    width: 60%;
    padding-left: 40%;
  }

  .seven-images1,
  .seven-images2,
  .seven-images3,
  .seven-images4,
  .seven-images5 {
    display: inline-block;
    align-items: center;
  }

  bold {
    padding-left: 60%;
  }

  .nine {
    width: 100%;
  }

  .rows {
    line-height: 10vh;
  }

  .ten {
    background: none;
  }

  .ten1 {
    width: 100%;
    padding: 10%;
  }

  .learn {
    width: 60%;
  }

  .appcontainer {
    width: 100%;
  }

  .flex-nine .cols input {
    display: none;
  }
  .six{
    display: flex;
    flex-direction: column;
    gap:30px;
    align-items: center;
  }
  .six .hunderdk img {
    width: 200px;
  }

  #join {
    width: 100%;
  }


  .eight .flex-eight {
    flex-wrap: wrap;
  }
}